.img1 {
    width: 156px;
    height: 50px;
    background-color: brown;
}
.ml-227 {
    margin-left: 227px;
}
.w-1920 {
    width: 1920px;
}
.w-679 {
    width: 679px;
}
.h-80 {
    height: 80px;
}
.h-281 {
    height: 281px;
}
.mr-259 {
    margin-right: 259px;
}
.mr-102 {
    margin-right: 102px;
}
.mr-105 {
    margin-right: 105px;
}
.mr-94 {
    margin-right: 94px;
}
.mb-174 {
    margin-bottom: 174px;
}
.mr-598 {
    margin-right: 598px;
}
.position-relative-245 {
    top: 245px;
    left: 625px;
}